div(class='row')
	div(class='col input-group')
		div(class='input-group-prepend')
			span(class='input-group-text') Username
		input(id='create-form-name' type='text' class='form-control' required)

div(class='row')
	div(class='col input-group')
		div(class='input-group-prepend')
			span(class='input-group-text') Password
		input(id='create-form-pass' type='password' class='form-control' required)

div(class='row')
	div(class='col')
		a(href='#' class='btn btn-success' onclick='app.createAccount()') Create Account
