.row: .col.input-group
	.input-group-prepend: span.input-group-text Username
	input#create-form-name.form-control(type='text' required)

.row.mb-3: .col.input-group
	.input-group-prepend: span.input-group-text Password
	input#create-form-pass.form-control(type='password' required)

.row: .col: button.btn.btn-success(onclick='app.createAccount()') Create Account
