.row: .col
	h1#profile-name
	p This is the profile!

#profile-recipe-list

#template-profile-recipe.d-none: .row
	.col: a
	.col-auto: button.btn.btn-outline-danger X
	.col-auto.px-0: button.btn.btn-outline-success.d-none Confirm


//- Password change
#change-pass-btn.row.justify-content-center.mt-3: .col-auto
	button.btn.btn-outline-light(onclick='app.showChangePass()') Change password

form#change-pass-form.mt-3.d-none
	.row: .col Change password
	.row
		input#change-pass-1.col.form-control(type='password' placeholder='New' required)

	.row
		input#change-pass-2.col.form-control(type='password' placeholder='Confirm ' required)
		#change-pass-2-help.invalid-feedback.d-none Password mismatch

	.row.justify-content-center.mt-3
		.col-auto
			button#change-pass-submit-btn.btn.btn-outline-light(onclick='app.submitChangePass()') Change
		.col-auto
			button.btn.btn-outline-danger(onclick='app.hideChangePass()') Close


//- Logout
.row.justify-content-center.mt-5: .col-auto
	button.btn.btn-outline-danger(onclick='app.logout()') Logout

//- Delete account
#profile-delete-btn.row.justify-content-center.mt-5: .col-auto
	button.btn.btn-outline-danger(onclick='app.confirmDeleteAccount()') Delete account
#profile-delete-confirm-btns.mt-5.d-none
	.row.justify-content-center: col-auto Are you sure?
	.row.justify-content-center
		.col-auto: button.btn.btn-outline-success(onclick='app.deleteAccount()') Yes
		.col-auto: button.btn.btn-outline-light(onclick='app.resetDeleteAccount()') No
