.row: .col
	h1#profile-name
	p This is the profile!

#profile-recipe-list

#template-profile-recipe.d-none: .row
	.col: a
	.col-auto: button.btn.btn-danger(type=button) X
	.col-auto.px-0: button.btn.btn-success.d-none(type=button) Confirm

.row.justify-content-center.mt-3: .col-6
	a.btn.btn-danger.btn-block(href='#' onclick='app.logout()') Logout
