doctype html
html
	head
		title Add recipe
		include ./parts/commonheader
		link(href=cssURL + '/style.css' rel='stylesheet')
		script.
			const DATA_URL = '#{dataURL}'
		script(src=jsURL + '/util.js' type='text/javascript')
		script(src=jsURL + '/add.js' type='text/javascript')
	body(class='bg-dark text-white')
		h1 Add recipe

		div(class='container')
			- var recipeActive = 'active'
			include ./parts/navbar

			div(class='row')
				div(class='col')
					div
						label(for='title') Title
							input(type='text' name='title' id='title' required)
					div
						p Ingredients
						ul(id='ingredients')
						button(onclick='addIngredientInput()') + Ingredient
					div
						p Directions
						textarea(id='directions' style='width:100%')

					button(onclick='submitRecipe()') Submit
