doctype html
html(lang='en')
	head
		title Recipes
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
		link(rel='stylesheet' href=cssURL + '/style.css')
		include appScripts
		script.
			const DATA_URL = '#{dataURL}'
			const RECIPE_URL = '#{recipeURL}'

	body(class='bg-dark text-white')
		div(class='container')
			include ./parts/navbar

			div(id='page-home' class='page')
				include ./parts/home

			div(id='page-pantry' class='page d-none')
				include ./parts/pantry

			div(id='page-add-recipe' class='page d-none')
				include ./parts/addRecipe

			div(id='page-add-ingredient' class='page d-none')
				include ./parts/addIngredient

			div(id='page-edit-recipe' class='page d-none')
				include ./editRecipe

		div(id='templates' class='d-none')
			include ./parts/ingredientInput
