div(class='row mb-3')
	div(class='col-auto mr-auto')
		a(href='#' class='btn btn-secondary' onclick='app.backToRecipeView()') <
	div(class='col-auto')
		a(href='#' class='btn btn-success' onclick='app.saveRecipeEdit()') Save

include ./parts/recipeForm

