html
    head
        title Recipes
        style
            include style.css
    body
        h1 Home
        p Welcome!
        table
            tbody
                each recipe in recipes
                    tr
                        td #{recipe.title}
