html
    head
        title Recipes
        style
            include style.css
        script
            include ../js/search.js
    body
        h1 Home
        p Welcome!
        input(type='text', onkeyup='search(event, this, (val) => console.log("Hello" + val))')
        table
            tbody
                each recipe in recipes
                    tr
                        td #{recipe.title}
