.row.justify-content-end.mb-3: .col-auto
	button.btn.btn-outline-light(onclick='app.showRecipeAddPage()') +

#profile-recipe-list

#template-profile-recipe.d-none: .row
	.col: a
	.col-auto.pr-0: button.btn.btn-outline-danger X
	.col-auto: button.btn.btn-outline-success.d-none Confirm
