.row.justify-content-end.mb-3: .col-auto
	button.btn.btn-light(onclick='app.showRecipeAddPage()') +

#profile-recipe-list

#template-profile-recipe.row.py-1.align-items-center.hover-row.d-none
	.col.profile-recipe
	.col-auto: button.btn.btn-danger x
	.col-auto.pl-0.d-none: button.btn.btn-success &#x2714;
