.row.my-3: .col-auto.mr-auto
	button.btn.btn-light(onclick='app.hidePantryAddPage()') <

.row: .col
	div: label(for='name') Name
		input#ingredient-name(type='text' name='name' autocomplete='off'
			required)

	div: label(for='amount') Amount
		input#ingredient-amount(type='number' name='amount' autocomplete='off'
			required)

	div: label(for='unit') Unit
		select(name='unit' id='ingredient-unit')

			-
				const units = ['cup', 'floz', 'g', 'gal', 'kg', 'lb',
					'liter', 'oz', 'pint', 'quart', 'tbsp', 'tsp']

			each unit in units
				option(value=unit) #{unit}

	button(onclick='app.submitIngredient()') Submit
