.row.my-3: .col-auto.mr-auto
	button.btn.btn-outline-light(onclick='app.hidePantryAddPage()') <

.row: .col
	div: label(for='name') Name
		input(type='text' name='name' id='ingredient-name' required)

	div: label(for='amount') Amount
		input(type='number' name='amount' id='ingredient-amount' required)

	div: label(for='unit') Unit
		select(name='unit' id='ingredient-unit')

			-
				const units = ['cup', 'floz', 'g', 'gal', 'kg', 'lb',
					'liter', 'oz', 'pint', 'quart', 'tbsp', 'tsp']

			each unit in units
				option(value=unit) #{unit}

	button(onclick='app.submitIngredient()') Submit
