//- Back button
.row.my-3: .col-auto.mr-auto
	button#pantry-back-btn.btn.btn-secondary(onclick='app.hidePantryAddPage()') <

form: .form-row.mb-2: .col
	input#pantry-form.form-control(autocomplete='off' placeholder='1 cup onion'
		type='text')

	#pantry-form-help.invalid-feedback.d-none

.row.justify-content-center.align-items-center
	.col-1: #pantry-save-status
	.col-auto: button#pantry-submit-btn.btn-lg.btn-secondary(onclick='app.submitIngredient()') Submit
	.col-auto: button#pantry-reset-btn.btn.btn-secondary(onclick='app.resetPantryForm()') Reset
