.row.my-3: .col-auto.mr-auto
	button.btn.btn-outline-light(onclick='app.hideRecipeAddPage()') <


- const formType = 'recipe-add'
include ./parts/recipeEdit


.row.justify-content-center.align-items-center
	.col-auto: button#recipe-add-btn.btn-lg.btn-light(onclick='app.addRecipe()') Save
	.col-auto: button#recipe-add-reset-btn.btn.btn-secondary(onclick='app.addRecipeFormReset()') Reset
