.row.my-2
	.col-auto.mr-auto
		a#recipe-back-btn.btn.btn-secondary(href='#') <
	.col-auto
		a#recipe-edit-btn.btn.btn-secondary(href='#' onclick='app.showRecipeEditPage()') Edit

.row: .col: h1#recipe-name

.row: .col: ul#recipe-ingredients

.row: .col#recipe-directions
