div(class='row')
	div(class='col')
		div
			label(for='name') Name
				input(type='text' name='name' id='name' required)

		div
			label(for='amount') Amount
				input(type='number' name='amount' id='amount' required)

		div
			label(for='unit') Unit
				select(name='unit' id='unit')

					-
						const units = ['cup', 'floz', 'g', 'gal', 'kg', 'lb',
							'liter', 'oz', 'pint', 'quart', 'tbsp', 'tsp']

					each unit in units
						option(value=unit) #{unit}

		button(onclick='submitIngredient()') Submit
