div(class='row')
	div(class='col')
		div
			label(for='name') Title
				input(type='text' name='name' id='name' required)
		div
			p Ingredients
			ul(id='ingredients')
			button(onclick='app.addIngredientInput()') + Ingredient
		div
			p Directions
			textarea(id='directions' style='width:100%')

		button(onclick='app.submitRecipe()') Submit
