div(id='view-search')
	div(class='row')
		div(class='col')
			label(for='search') Search
			input(
				id='search'
				class='form-control'
				type='text'
				onkeyup='search(event, this, (val) => onRecipeSearch(val))'
			)

	div(class='row mt-3')
		div(class='col')
			table
				tbody(id='searchResults')

div(id='view-recipe' class='d-none')
	include recipe
