#view-search
	.row: .col
		label(for='search') Search
		input#search.form-control(
			type='text'
			onkeyup='app.search(event, this, (val) => app.onRecipeSearch(val))'
		)

	.mt-3#searchResults

	#template-search-result.d-none: .row
		.col: a
		.col-auto: button.btn.btn-danger(type=button) X
		.col-auto.px-0: button.btn.btn-success.d-none(type=button) Confirm

#view-recipe.d-none
	include recipe
