#view-search
	.row: .col
		input#search.form-control(
			type='text'
			placeholder='Search'
			onkeyup='app.search(event, this, (val) => app.onRecipeSearch(val))'
		)

	.mt-3#searchResults

	#template-search-result.row.py-1.hover-row.d-none: .col
