div(class='row mb-3')
	div(class='col')
		nav(class='nav nav-pills nav-fill')
			a(id='navbar-home' class='nav-item nav-link active' onclick='switchPage("home")' href='#') Home
			a(id='navbar-pantry' class='nav-item nav-link' onclick='switchPage("pantry")' href='#') Pantry
			a(id='navbar-add-recipe' class='nav-item nav-link' onclick='switchPage("add-recipe")' href='#') + Recipe
			a(id='navbar-add-ingredient' class='nav-item nav-link' onclick='switchPage("add-ingredient")' href='#') + Ingredient
