#navbar.row.mb-3: .col: nav.nav.nav-pills.nav-fill
	a#navbar-home.main-nav.nav-item.nav-link.active(onclick='app.switchPage("home")' href='#') Home
	a#navbar-pantry.main-nav.nav-item.nav-link.d-none(onclick='app.switchPage("pantry")' href='#') Pantry
	a#navbar-my-recipes.main-nav.nav-item.nav-link.d-none(onclick='app.switchPage("my-recipes")' href='#') My Recipes
	a#navbar-add-ingredient.main-nav.nav-item.nav-link.d-none(onclick='app.switchPage("add-ingredient")' href='#') + Ingredient
	a#navbar-profile.main-nav.nav-item.nav-link(onclick='app.switchPage("profile")' href='#') Profile
