div(class='row')
	div(class='col')
		label(for='filter') Filter
		input(
			id='filter'
			class='form-control'
			type='text'
			onkeyup='app.search(event, this, (val) => app.filterTable(val))'
		)

div(id='filterTable' class='mt-3') Loading pantry...
