div(class='row mb-3')
	div(class='col')
		div(class='input-group')
			div(class='input-group-prepend')
				span(class='input-group-text') Name
			input(id='recipe-form-name' type='text' class='form-control' required)

div(class='row')
	div(class='col')
		ul(id='recipe-form-ingredients')

		button(onclick='addFormIngredient()') + Ingredient

		div(class='form-group')
			label Directions
				textarea(id='recipe-form-directions' style='width:100%;')
