div(class='row')
	div(class='col')
		a(href='#' class='btn btn-secondary' onclick='hideRecipeView()') <
	div(class='col')
		a(href='#' class='btn btn-secondary' onclick='editRecipe(currentRecipe)') Edit

div(class='row')
	div(class='col')
		h1(id='recipe-name')

div(class='row')
	div(class='col')
		ul(id='recipe-ingredients')

div(class='row')
	div(id='recipe-directions' class='col')
