div(class='row mb-2')
	div(class='col-auto mr-auto')
		a(href='#' class='btn btn-secondary' onclick='app.hideRecipeView()') <
	div(class='col-auto')
		a(href='#' class='btn btn-secondary' onclick='app.editRecipe()') Edit

div(class='row')
	div(class='col')
		h1(id='recipe-name')

div(class='row')
	div(class='col')
		ul(id='recipe-ingredients')

div(class='row')
	div(id='recipe-directions' class='col')
